body {
	margin:0;
	height: 500px;

}

.topo {
	display: flex;
	width: 100%;
	margin:auto;
	max-width: 1400px;
}

.topoint {
	display: flex;
	width: 100%;
	max-width: 1400px;
	justify-content: center;
}

.intdireita {
	width: 50%;
	margin:auto;
	text-align: center;
}
.intesquerda {
	width: 50%;
	margin:auto;
	text-align: center;

}